<h1 class="title">{{title}}</h1>
<div class="buttons">
  <form action="./cassandra">
      <input class="button is-large is-primary" type="submit" value="Cassandra" />
  </form>
  <form action="./couch">
      <input class="button is-large is-primary" type="submit" value="Couch" />
  </form>
  <form action="./sql">
      <input class="button is-large is-primary" type="submit" value="SQL" />
  </form>
</div>
