body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

form {
  display: inline;
}

.button {
  margin-left: 10px;
  margin-right: 10px;
}

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}

.close:hover {
  cursor: pointer;
}

.title {
  padding-top: 10px;
  text-align: center;
}

.entry {
  padding: 3px 3px 3px 3px;
  background-color: silver;
  border: solid 1px black;
  display: block;
}

.key {
  font-style: bold;
}
